.App {
  text-align: center;
}

.header-cart-icon {
  position: relative;
}

.header-cart-icon box-icon:hover {
  fill: #3936ec;
  transform: scale(1.1);
  transition: all 1s;
}

.header-cart-icon box-icon{
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.header-cart-icon .cant {
  position: absolute;
  background-color: #ff060683;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: 7px;
  font-weight: bold;
} 

.titulo-producto {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrito-arrows button {
  border: none !important;
  background-color: transparent;
}

.carrito-arrows box-icon {
  cursor: pointer;
}
.carrito-arrows box-icon:hover {
  fill: #3936ec;
  transform: scale(1.2);
  transition: all 1s;
}

.carrito-delete box-icon {
  fill: #b90707;
  cursor: pointer;
}
.carrito-delete box-icon:hover {
  fill:#fb0909;
  transform: scale(1.2);
  transition: all 1s;
}

/* DETALLE DEL PRODUCTO */
